<section class="homepage-banner-slider">
  <div class="slider-wrapper-main homepage-banners">
    {% for block in section.blocks %}
    <div class="slide-item-main">
      <div class="slide-wrapper">
        <picture>
          {% if block.settings.m_img != blank %}
          <link rel="preload" as="image" href="{{ block.settings.m_img | img_url:'600x' }}">
          <source srcset="{{ block.settings.d_img | img_url:'1440x' }}" media="(min-width: 526px)">
          <source srcset="{{ block.settings.m_img | img_url:'600x' }}" media="(max-width: 525px)">
          {% endif %}
          <img src="{{ block.settings.d_img | img_url:'1440x' }}" alt="" width="100" height="100" {% if forloop.index == 1 %}loading="eager"{% else %}loading="lazy"{% endif %}>
        </picture>
        <div class="slide-content">
          {% if block.settings.title != blank %}<h2 style="color: {{ block.settings.headColor }};">{{ block.settings.title }}</h2>{% endif %}
          {% if block.settings.subhead != blank %}<p style="color: {{ block.settings.textColor }};">{{ block.settings.subhead }}</p>{% endif %}
          {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="button-primary">{{ block.settings.label }}</a>{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% stylesheet %}

.slider-wrapper-main.homepage-banners.slick-initialized.slick-slider{
  width: auto;
}
.homepage-banner-slider ul.slick-dots {
    bottom: 20px;
}
.homepage-banner-slider .slick-dots li button {
    border: 2px solid #FFF;
    background: #FFF;
}
.homepage-banner-slider .slick-dots li.slick-active button {
    background: #FFF;
    border: 2px solid #FF9050;
}
.slide-wrapper img {
    width: 100%;
    height: 638px;
    object-fit: cover;
}
.slide-content h2 {
    font-size: 84px;
    font-weight: 800;
    font-family: 'Poppins';
    line-height: 96px;
    max-width: 710px;
    letter-spacing: -1px;
    color: #FAFAFA;
}
  span.coupon {
    color: #FFC773;
}
.slide-content h2 em span:first-child {
    font-weight: 300;
}

.slide-content h2 em span:last-child {
    font-weight: 400;
}
.slide-wrapper {
    position: relative;
}
.slide-content {
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    left: 7%;
    width: 100%;
    max-width: 748px;
}
.slide-content p {
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
    max-width: 598px;
    letter-spacing: .4px;
    line-height: 24px;
}
.slide-content a {
    margin: 20px 0 0;
}
.slick-dots li button:before {
    font-size: 50px;
    width: 20px;
    height: 20px;
    opacity: 1;
    color: #fff;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}
/* .slide-wrapper:before {
    content: "";
    background: hwb(0deg 0% 100% / 28%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */
@media screen and (max-width: 768px){
  .slide-content {
    left: 0;
    right: 0;
    width: 80%;
    max-width: 100%;
  }
  .slide-content h2 {
    font-size: 68px;
    line-height: 80px;
    max-width: 100%;
  }
  .slide-content p {
    max-width: 100%;
  }
}

@media screen and (max-width: 525px){
  .slide-content a {
    margin: 40px auto 0;
  }
  .slide-content p {
    text-align: center;
    margin-top: 30px;
  }
  .slide-content h2 {
    font-size: 56px;
    text-align: center;
    line-height: 63px;
  }
  .slide-content h2 em {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  .slide-content {
    width: 100%;
    padding: 0 24px;
    max-width: 100%;
    top: unset;
    bottom: 120px;
  }
  /* .slide-wrapper:before {
    background: hwb(0deg 0% 100% / 50%);
  } */
}
{% endstylesheet %}
  
{% schema %}
  {
    "name": "Homepage Slideshow",
    "settings": [],
    "blocks": [
      {
        "type": "slider",
        "name" : "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "d_img",
            "label": "Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "m_img",
            "label": "Mobile Image"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "subhead",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Button Label",
            "default" : "Know More"
          },
          {
            "type": "color",
            "id": "headColor",
            "label": "Heading Color",
            "default" : "#FFFFFF"
          },
          {
            "type": "color",
            "id": "textColor",
            "label": "Subheading Color",
            "default" : "#FFFFFF"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Homepage Slideshow"
      }
    ]
  }
{% endschema %}